body, header, section, footer, div, a, ul, li, img, form, input, label, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
}
/* 默认类样式 */
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/* 页面结构样式 */
#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page {
    height: 100%;
}
.page.bar-nav {
    padding-top: 40px;
}
.page.bar-tab {
    padding-bottom: 50px;
}
.content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

/* content */
.result {
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f8f8;
    position: relative;
}
.mui-card {
    margin: 0 0 10px;
}
/* 搜索框 */
.search-wrapper {
    padding: 20px 15px;
}
.input-group {
    display: flex;
}
.search {
    position: relative;
}
.search .form-control {
    height: auto;
    padding: 6px 12px;
    padding-right: 36px;
    margin: 0;
}
.search .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1;
    color: #555;
    text-align: center;
}
.search > .search-icon > span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat;
    background-size: 100% 100%;
}
/* 无数据提示信息 */
.no-data {
    color: #999;
    text-align: center;
    height: 108px;
    line-height: 108px;
    border-radius: 4px;
    background: #fff;
}
/* 加载图标 */
.mui-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 60px;
    z-index: 2;
}
.mui-loading .mui-spinner {
    width: 30px;
    height: 30px;
}
.mui-table-view-cell>a:not(.mui-btn) {
    padding-right: 30px;
}
.mui-bar {
    background: #fff;
    box-shadow: 0 0 20px 0px rgba(0,0,0,.05);
}
.mui-bar .mui-tab-item {
    color: #666;
}
.mui-bar.mui-bar-tab {
    height: 60px;
    background-color: #fcfcfc;
}
.mui-bar-tab ~ .mui-content {
    padding-bottom: 60px;
}
.mui-bar-tab .mui-tab-item {
    position: relative;
}
.mui-bar-tab .mui-tab-item span {
    position: relative;
    z-index: 2;
}
.mui-bar-tab .mui-tab-item .iconfont {
    font-size: 18px;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #fff;
}
.mui-bar-tab .mui-tab-item.mui-active:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: #174ea9;
    border-radius: 50%;
}
.mui-tab-item .iconfont {
    font-size: 24px;
}
.mui-tab-item .iconfont + .mui-tab-label {
    font-size: 12px;
    display: block;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}
.mui-tab-item.centre {
    position: relative;
    overflow: visible;
}
.mui-tab-item.centre > a {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 4px #0968a5;
}
.mui-tab-item.centre > a > .mui-tab-label,
.mui-tab-item.centre > a > .iconfont {
    color: #056ba6;
}
.mui-tab-item.centre > a > .iconfont {
    margin-top: -8px;
}

[v-cloak]{
    display: none;
}
.mui-toast-container {
    bottom: 60px;
}

/*列表*/
.cells {
    position: relative;
}
.cells::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.cells::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.cell {
    display: flex;
    padding: 10px 15px;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 17px;
    line-height: 1.47058824;
}
.cell::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
    z-index: 2;
}
.cell:first-child::before {
    display: none;
}
.cell-content {
    flex: 1;
}
.cell-append {
    position: relative;
    padding-right: 12px;
}
.cell-access:active {
    background-color: #ECECEC;
}
.cell-access > .cell-append::after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}

/* 折叠 */
/* 折叠框 */
.category {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFF;
}
.category-header {
    padding: 20px;
    transition: all .3s;
}
.category-body {
    height: 0;
    overflow: hidden;
}
.category-content {
    opacity: 0;
    transform: translateY(-50%);
    transition: all .3s;
}
.category.on > .category-header {
    opacity: .4;
}
.category.on > .category-body {
    height: auto;
}
.category.on > .category-body > .category-content {
    opacity: 1;
    transform: translateY(0);
}